body {
  background-color:white;
  color: black;
}

.divcl{
  padding: 10px 12px;
  background-color: white;
}

#namecl{
  color: #ffffff;
}

hr {
  border-style: dotted;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 7px;
  border-color: #ffd1dc;
  width: 5%;
}

img {
  height: 150px;
}

h1 {
  color: #000000;
}

h3 {
  color: #000000;
}
